<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="tradly.social.event.explore">

    <dist:module
        dist:title="@string/dynamic_module_event_explore_title">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:theme="@style/AppTheme"
        android:supportsRtl="true">
        <activity android:name=".ui.EventExploreActivity"
            android:windowSoftInputMode="adjustNothing"
            android:parentActivityName="tradly.social.ui.main.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />
    </application>

</manifest>