<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="tradly.social.event.addevent">

    <dist:module
        dist:instant="false"
        dist:title="@string/dynamic_module_add_event_title">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity android:name=".ui.variant.addTime.EventTimeHostActivity"></activity>
        <activity
            android:name=".ui.variant.addVariant.VariantHostActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
    </application>

</manifest>